body {
  /* padding: 10px;
  font-family: sans-serif; */
  /* margin: 0; */
  /* background-color: black; */
  background-color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white {
    color: white;
}
